@{
    ViewData["Title"] = "Configurações";
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Configuracoes.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    
</head>
<body>
    <div class="container">
        <img src="/img/profile.png" alt="Imagem do Perfil" class="profile-image">
        <button class="edit-button">Edit profile image</button>

        <div class="profile-info">
            <label for="name">Name:</label>
            <span class="value">Marcos Paulo Oliveira Santos</span>
        </div>

        <div class="profile-info">
            <label for="username">Username:</label>
            <span class="value">Kinho</span>
        </div>

        <div class="profile-info">
            <label for="email">Email:</label>
            <span class="value">name@domain.com</span>
        </div>

        <div class="links">
            <a href="#">website.net</a>
            <a href="#">mylink.net</a>
            <a href="#">yourlink.net</a>
            <a href="#">+ Add link</a>
        </div>

        <div class="bio">
            <label for="bio">Bio:</label>
            <p>Gosto de viajar e ter novas experiencias, viver uma aventura é oque faz a vida divertida.</p>
        </div>
    </div>
</body>
</html>