 @model Municipio;

@{
    ViewData["Title"] = "Caraguatatuba";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Caraguatatuba.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santos</title>
</head>
<body>
    <div class="container">
        <h1>@Model.nome</h1>
        <img src="~/img/Caraguatatuba1.png" />
        <p>Caraguatatuba, localizada no litoral norte do estado de São Paulo, Brasil, é uma cidade conhecida por suas belas praias e paisagens montanhosas. A cidade é cercada pela Mata Atlântica, oferecendo diversas trilhas e áreas naturais protegidas, como o Parque Estadual da Serra do Mar. Entre suas atrações, destaca-se a Praia de Martim de Sá, uma das mais populares, ideal para quem busca lazer e esportes aquáticos. Caraguatatuba também é famosa por seu mirante do Morro Santo Antônio, que proporciona vistas panorâmicas da cidade e do mar. Além disso, o centro histórico da cidade preserva construções coloniais, incluindo a Igreja Matriz de Santo Antônio, que reflete a herança cultural e religiosa local.</p>
        <img src="~/img/Caraguatatuba2.png" />
        <div class="button-container">

            <!--<button asp-action="Mapa">Ir ao Mapa</button>-->
            <!--<button asp-action="Catalogo">Ir ao Catálogo</button>-->
        </div>
    </div>
</body>
</html>