    @model Municipio;

@{
    ViewData["Title"] = "Ilhabela";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Ilhabela.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caraguatatuba</title>



</head>
<body>
    <div class="container">
        <h1>@Model.nome</h1>
        <img src="/img/Ilhabela1.png" />
        <p>Ilhabela, localizada no litoral norte de São Paulo, é um arquipélago famoso por suas praias paradisíacas e pela exuberante vegetação da Mata Atlântica. A cidade é um destino turístico popular, com praias como a Praia do Curral e a Praia de Castelhanos, além de inúmeras cachoeiras acessíveis por trilhas. Ilhabela também é conhecida por suas condições ideais para esportes náuticos, como vela e mergulho. O centro histórico, conhecido como "Vila", preserva construções coloniais e oferece uma atmosfera charmosa com bares, restaurantes e lojas de artesanato. Ilhabela é um refúgio para quem busca contato com a natureza e uma experiência única no litoral paulista.</p>
        <img src="~/img/Ilhabela2.png" />
        <div class="button-container">

            <!--<button asp-action="Mapa">Ir ao Mapa</button>-->
            <!--<button asp-action="Catalogo">Ir ao Catálogo</button>-->
        </div>
    </div>
</body>
</html>